.adminusers {
  margin-left: 30rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-width: 50%;
  background-color: azure;
}
.userscontainer {
  border: 1px solid blue;
  padding: 1rem;
  background-color: beige;
}
.messagesheadingg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}
