.contactheader{
    display: flex;
    flex-direction: column;
    background-color: #2b3a5b;
    color: white;
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 8rem;
    padding-right: 29rem;
}
.contactuswrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 2rem;
    
    
}
.contactuswrapper img{
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
   top: 13.8rem;
   right: 16rem;
    position: absolute;
    
}
.talking{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3rem 0;
    /* margin-top: 3rem; */
}
.talktous{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    border: solid grey;
    padding: 2.5rem;

}

.custommersurport{
    position: relative;
}

.needhelp{
    position: absolute;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    width: 20rem;
    border: solid grey 1px;
    padding: .1rem;
    right: 25rem;
    top: 32rem;
    margin-top: .9rem;

}
.needhelp img{
    width: 4rem;
}
.close{
    margin-left: 10rem;

}

.close button{
    background-color: beige;
    border-radius: 100%;
border: none;

}

.contactsurport{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;

}
.surppotcontactlinks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
}

.surppotcontactlinks a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.surppotcontactlinks a:hover{
color: blue;
}

.surppotcontactlinks button{
    background-color: #2b3a5b;
    color: white;
    width: 16rem;
    border-radius: 25px;
    transition: all .3s ease-out;
    
}

.surppotcontactlinks button:hover{
    background-color: blue;
    color: white;
}

.fillform{
    border: 2px solid blue;
    padding: 1rem;
    margin-bottom: 2rem;
}

.forminputs{
    display: flex;
    flex-direction: column;
   
}

.forminputss{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 1rem;
   
    margin-bottom: 1rem;
}
.inputs1{
    display: flex;
    flex-direction: column;
}
.inputs1 input{
    width: 30rem;
}

.forminputs textarea{
    width: 100%;
    padding-bottom: 7rem;
    margin-bottom: 3rem;
 
}
.forminputs button{
    width: 20rem;
    background-color: #2b3a5b;
    color: white;
    border-radius: 25px;
    transition: all .5s ease-out;
}

.forminputs button:hover{
    
    background-color:blue;
    color: white;
    
}

