.loginsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #eee;
}
.loginpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../assets/bg.jpg);
  background-size: cover;
  margin: 2rem;
  color: white;
  padding: 2rem;
  font-weight: 400;
}
.loginpage a {
  color: white;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.logininputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70rem;
margin-bottom: 3%;
  /* align-items: center; */
}
@media screen and (max-width: 46.625em) {
  .logininputs {
    width: 60rem;
  }
}

@media screen and (max-width: 41.625em) {
  .logininputs {
    width: 50rem;
  }
}

@media screen and (max-width: 34.3125em) {
  .logininputs {
    width: 45rem;
  }
}

@media screen and (max-width: 30.5625em) {
  .logininputs {
    width: 35rem;
  }
}

@media screen and (max-width: 31.1875em) {
  .logininputs {
    width: 30;
  }
}

@media screen and (max-width: 24.9375em) {
  .logininputs {
    width: 27rem;
  }
}
@media screen and (max-width: 20.125em) {
  .logininputs {
    width: 25rem;
  }
}

.logininputs input {
  width: 80%;
}
.logininputs p {
  display: flex;
  flex-direction: row;
}

.logininputs button {
  width: 30rem;
  margin-top: 2rem;
}
.loginerror {
  color: red;
}
