.motherboardswrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

@media screen and (max-width: 53.5625em) {
  .motherboardswrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 50em) {
  .motherboardswrapper {
    font-size: 2rem;
  }
}
.motherboardtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.motherboardcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 20rem;
  /* border:2px solid red; */
  margin-bottom: 2rem;
  background-color: #d9d9d9;
}

@media screen and (max-width: 68.75em) {
  .motherboardcontainer {
    width: 15rem;
  }
}
@media screen and (max-width: 53.5625em) {
  .motherboardcontainer {
    width: 60rem;
    font-size: 3rem;
  }
}
@media screen and (max-width: 37.9375em) {
  .motherboardcontainer {
    width: 50rem;
  }
}

@media screen and (max-width: 312.5em) {
  .motherboardcontainer {
    width: 40rem;
  }
}

@media screen and (max-width: 25.4375em) {
  .motherboardcontainer {
    width: 30rem;
  }
}

@media screen and (max-width: 19em) {
  .motherboardcontainer {
    width: 25rem;
  }
}
.motherboardcontainer button {
  background-color: #0b448f;
  color: #ffffff;
  transition: all 0.6s ease-out;
}

.motherboardcontainer button:hover {
  color: #ffffff;
  background-color: blue;
}

.motherboardcontainer img {
  width: 100%;
}
