.homeabout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

@media screen and (max-width: 68.125em) {
  .homeabout {
    gap: 1rem;
  }
}
.aboutcards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 68.125em) {
  .aboutcards {
    gap: 4rem;
  }
}

@media screen and (max-width: 62.3125em) {
  .aboutcards {
    gap: 1rem;
  }
}
@media screen and (max-width: 39.875em) {
  .aboutcards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  /* border: solid red; */
  padding: 2rem;
  background-color: #dedede;
}

@media screen and (max-width: 58.5625em) {
  .card {
    width: 25rem;
  }
}

@media screen and (max-width: 50em) {
  .card {
    width: 20rem;
  }
}
@media screen and (max-width: 39.875em) {
  .card {
    width: 50rem;
  }
}
@media screen and (max-width: 33.1875em) {
  .card {
    width: 40rem;
  }
}

@media screen and (max-width: 33.1875em) {
  .card {
    width: 30rem;
  }
}
@media screen and (max-width: 19.625em) {
  .card {
    width: 20rem;
  }
}

.card img {
  width: 7rem;
  height: 7rem;
  background-color: #dedede;
  border-radius: 100%;
}
