.testimonies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid green;
  padding: 1rem;
}

@media screen and (max-width: 68.125em){
  .testimonies{
    gap: 1rem;
  }
}

@media screen and (max-width:41.0625em){
  .testimonies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
/* 
  .jostechh{
    width: 50rem;
  } */
}

.thetestimony{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width:41.0625em){
  .thetestimony{
width: 40rem;
border: 1px solid grey;
padding: 1rem;
  }}

  @media screen and (max-width: 26.875em){
    .thetestimony{
      width: 34rem;
    }
  }

  @media screen and (max-width: 23.75em){
    .thetestimony{
      width: 30rem;
    }
  }

  @media screen and (max-width: 20em){
    .thetestimony{
      width: 25rem;
    }
  }
  @media screen and (max-width: 18.3125em){
    .thetestimony{
      width: 20rem;
    }
  }
.jostech {
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 1rem;
  
}

.jostechh {
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 1rem;
  
}

.jostechh img {
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
}
.otherssaying {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 2rem;
  
}

.actualsay {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  
}
.p11 {
  color: #fb904a;
  font-size: 2rem;
  font-weight: 600;
}

.p22 {
  color: grey;
}

.p33 {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
.p44 {
  color: white;
  background-color: #2871f2;
  border-radius: 25px;
  width: 60%;
  padding: 0.6rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
