 .EditProfile{
    display: flex;
    flex-direction: column;
 }
 .EditProfile img{
    width: 7rem;
    border-radius: 100%;
    padding: 1rem;
 }
 .EditProfile form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: antiquewhite;
    width: 70%;
 }
 .editProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .editProfile input{
    border-radius: 25px;
    margin-bottom: 2rem;
 }
 .updateProfilebtn{
    display:flex ;
    width: 20%;
    justify-content: center;
    background-color: green;
    color: #fff;
    font-weight: 600;
    border-radius: 25px;
 }
 .updateProfilebtn:hover{
    background-color: rgb(89, 177, 89);
 }