.adminHome {
  margin-left: 26rem;
  margin-top: 0;
}
.adminwelcomemessage {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  background-color: #9ecbdd;
}

.adminHome {
  padding: 20px;
}

.adminwelcomemessage {
  font-size: 24px;
  margin-bottom: 20px;
}

.chartContainer {
  max-width: 70%;
  margin: auto;
}
