.itemsandproducts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-width: 100%;
}
/* @media screen and (max-width: 79.25em) {
  .itemsandproducts {
    gap: 4rem;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;

    flex-direction: row;
  }
}

@media screen and (max-width: 76.5em) {
  .itemsandproducts {
    gap: 2rem;
  }
}

@media screen and (max-width: 72em) {
  .itemsandproducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */
